div {text-align: center;text-decoration: dotted;;}

body {background-color:darkgrey;}

.flex-container {
    display: flex;outline-style:auto;width: 600px;height: 300px;margin-left: 50px;padding-left: 50px;-ms-flex-align: center;
  }

  .flex-container2 {
    display:flex;outline-style:auto;width: 600px;height: 300px;margin-left: 50px;padding-left: 50px;-ms-flex-align: center;align-items:flex-start;

  }