
body {background-color:darkgrey;}

.flex-container {
    display:inline-block;outline-style:auto;width: 500px;height: 300px;margin-left: 50px;padding-left: 50px;text-align: center;
}


  .flex-container2 {
    display:inline-block;outline-style:auto;width: 500px;height: 300px;margin-left: 50px;padding-left: 50px;text-align: center;

  }