
body {background-color:darkgrey;}

.flex-container {
    display:flex;outline-style:auto;width: 500px;height: 300px;margin-left: 50px;padding-left: 50px;text-align: center;flex-direction: column;
}



  .flex-container2 {
    display:flex;outline-style:auto;width: 500px;height: 300px;margin-left: 50px;padding-left: 50px;text-align: center;flex-direction: column;

  }
 